<div class="page-header">
  <h1>It all started with the desire to express <small> This is the revolution</small></h1>
</div>


    <h2>Current Designs</h2>

    <p>We take requests</p>

    <ul>
      <li>this</li>
      <li>that</li>
      <li>make</li>
      <li>these picture links</li>
 <a class="btn btn-danger btn-lg" role="button" href="/store">Continue to Store</a>

    </ul>
  </div>
</div>

 