<div class="page-header">
  <h1>A epic journey begins <small>these are our baby steps</small></h1>
</div>


<div id="nav-bar-middle">
                      <label id="nav-search-label" for="twotabsearchtextbox">
              Search
            </label>
                    <form id="nav-searchbar" action="/s/ref=nb_sb_noss/188-1736311-3441832" method="get" name="site-search" role="search" accept-charset="utf-8" ,="" class="nav-searchbar-inner">
          
          
            <div class="nav-submit-button nav-sprite">
              <input type="submit" value="Go" class="nav-submit-input" title="Go">
            </div>

            <span id="nav-search-in" class="nav-sprite nav-facade-active" style="width: auto;">
              <span id="nav-search-in-content" data-value="search-alias=aps" style="width:<div id="nav-bar-middle">
                      <label id="nav-search-label" for="twotabsearchtextbox">
              Search
            </label>
                    <form id="nav-searchbar" action="/s/ref=nb_sb_noss/188-1736311-3441832" method="get" name="site-search" role="search" accept-charset="utf-8" ,="" class="nav-searchbar-inner">
          
          
            <div class="nav-submit-button nav-sprite">
              <input type="submit" value="Go" class="nav-submit-input" title="Go">
            </div>

            <span id="nav-search-in" class="nav-sprite nav-facade-active" style="width: auto;">
              <span id="nav-search-in-content" data-value="search-alias=aps" style="width: auto; overflow: visible;">
                All
              </span>
              <span class="nav-down-arrow"></span>
              <select data-nav-digest="En20Ekcu3jb8T3PEGBcEo3CPwY0" data-nav-selected="0" name="url" id="searchDropdownBox" class="searchSelect" title="Search in" style="top: 3px;"><option value="search-alias=aps" selected="selected">I PISS EXCELLENCE</option><option value="search-alias=instant-video">LVL 4 WIZARD</option><option value="search-alias=appliances">Don't worry; I'm pre-med</option><option value="search-alias=mobile-apps">I make art.</option><option value="search-alias=arts-crafts">TOO HOT TO STOP </option>
            </span>

            <div class="nav-searchfield-width">
              <div id="nav-iss-attach">
                <input type="text" id="twotabsearchtextbox" title="Search For" value="" name="field-keywords" autocomplete="off">
              </div>
            </div>
          </form>
        </div> auto; overflow: visible;">
                All
              </span>
              <span class="nav-down-arrow"></span>
              <select data-nav-digest="En20Ekcu3jb8T3PEGBcEo3CPwY0" data-nav-selected="0" name="url" id="searchDropdownBox" class="searchSelect" title="Search in" style="top: 3px;">
            </span>

            <div class="nav-searchfield-width">
              <div id="nav-iss-attach">
                <input type="text" id="twotabsearchtextbox" title="Search For" value="" name="field-keywords" autocomplete="off">
              </div>
            </div>
          </form>
        </div>





   

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://ecx.images-amazon.com/images/I/41QJfXdS%2BGL._SL190_SY246_CR0,0,190,246_.jpg"/></div>
  <div class="col-md-8">

        <h3 class="newaps">
    <a href="http://www.amazon.com/Black-Silicon-Wristband-Bracelet-CHANCE/dp/B005067OIA/ref=sr_1_4?ie=UTF8&amp;qid=1400042055&amp;sr=8-4&amp;keywords=silicone+bracelets"><span class="lrg bold">This is where the name goes (linked to amazon)</span></a> </h3>





<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>
  <div class="col-md-8">
    <h2>These are our baby steps</h2>

    <p>We get a lot of pitches from people who seem to think they are hollywood producers:</p>

    <ul>
      <li>It's like twitter, but for lists</li>
      <li>It's like the yelp of yoga studios</li>
      <li>It's like buzz feed except for movies</li>
      <li>It's like pinterest for donuts</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>SERIOUSLY, PINTEREST FOR DONUTS</h3>

    <p>So we needed to figure out something that we could build in a few weeks, an idea that would make sense at first glance that we could fill out more or less depending upon how much progress we made.</p>

    <p>Top things that people use the internet for</p>

    <ol>
      <li>Porn</li>
      <li>Pictures of kittens</li>
      <li>??? whatever</li>
    </ol>

    <p>Since #1 didn't seem professional, this is how we settled on pinterest for kittens.</p>
  </div>
  <div class="col-md-4"><img class="img-responsive" src="<%= image_path "9.jpg" %>       "/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/4.jpg"/></div>
</div>
