
<div class="jumbotron">
  <h1>Word Wraps</h1>
  <p>Make it yours. <i>Make it you.</i></p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/about">about</a>
 <a class="btn btn-danger btn-lg" role="button" href="/store">Enter</a>
 

  </p>

</div>

<% if user_signed_in? %>
<p>Why hello, <%= current_user.email %></p>
<% end %>


<div class="row">
  <div class="col-md-3"><img class="img-responsive" src="http://blogs.browardpalmbeach.com/cleanplatecharlie/avocado.jpg"/></div>

<div class="row">
  <div class="col-md-3"><img class="img-responsive" src="http://austinlee94.files.wordpress.com/2014/05/photo-1.jpg"/></div>

  <div class="row">
  <div class="col-md-3"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>

 <div class="row">
  <div class="col-md-3"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>

