
<div class="jumbotron">
  <h1>Word Wraps</h1>
  <p>Make it yours. <i>Make it you.</i></p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/about">about</a>
 <a class="btn btn-danger btn-lg" role="button" href="/home">Enter</a>
 

  </p>

</div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>

  <div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>