<div class="page-header">
  <h1>WordWraps Store <small> Our store is currently based on Amazon.com</small></h1>
</div>








   

<div class="row">
  <div class="col-md-8"><img class="img-responsive" src="http://ecx.images-amazon.com/images/I/41QJfXdS%2BGL._SL190_SY246_CR0,0,190,246_.jpg"/></div>
  <div class="col-md-8">

        <h3 class="newaps">
    <a href="http://www.amazon.com/Black-Silicon-Wristband-Bracelet-CHANCE/dp/B005067OIA/ref=sr_1_4?ie=UTF8&amp;qid=1400042055&amp;sr=8-4&amp;keywords=silicone+bracelets"><span class="lrg bold">This is where the name goes (linked to amazon)</span></a> </h3>





<div id="result_1" class="rslt prod celwidget" name="B0030UESQY">
    <div class="linePlaceholder"></div><div class="image imageContainer">
        <a href="http://www.amazon.com/Schwinn-Discover-Womens-Hybrid-Wheels/dp/B0030UESQY/ref=sr_1_2?ie=UTF8&amp;qid=1400094056&amp;sr=8-2&amp;keywords=bicycle"><div class="imageBox">
    <img onload="viewCompleteImageLoaded(this, new Date().getTime(), 16, false);" src="http://ecx.images-amazon.com/images/I/41jsC4WUA6L._SP160,160,0,T_.jpg" class="productImage cfMarker" alt="Product Details">
        </div></a></div>
<h3 class="newaps">
    <a href="http://www.amazon.com/Schwinn-Discover-Womens-Hybrid-Wheels/dp/B0030UESQY/ref=sr_1_2?ie=UTF8&amp;qid=1400094056&amp;sr=8-2&amp;keywords=bicycle"><span class="lrg bold">Schwinn Discover Women's Hybrid Bike (700C Wheels)</span></a> <span class="med reg">by Schwinn  (Feb 15, 2009)</span>
        </h3><ul class="rsltL">

    <li class="newp">
    <div class="">
    <a href="http://www.amazon.com/Schwinn-Discover-Womens-Hybrid-Wheels/dp/B0030UESQY/ref=sr_1_2?ie=UTF8&amp;qid=1400094056&amp;sr=8-2&amp;keywords=bicycle"><del class="grey">$329.99</del><span class="bld lrg red"> $261.07</span>
</a></div>
  
           

    </li>
</ul>

<br clear="all">

</div>


<div class="page-header">
  <h1>Something that you want? <small> But isn't here?</small></h1>
</div>

<a class="btn btn-danger btn-lg" role="button" href="/pins">Sign-in and Request</a>